*{

    font-family: sans-serif;
    
}

body{
    padding: 0;
    margin: 0 auto;
    background-color: #FEFEFE;
}

header ul{
    list-style-type: none;
    font-size: 12px;
}

.join{
    padding: 10px 20px;
    background-color: #5768AD;
    text-decoration: none;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
}

.homeFirst{
    background-image: url('../images/hero-1.png');
    background-size: inherit;
    height: 100vh ;
}

.karusele{
    top: 300px;
    
}

.karusele2{
    top: 150px;
    margin-bottom: 150px;
}

.carousel-text a{
    color: white;
    background-color: #5768AD;
}

.first-sec-button{
    padding: 20px;
    background-color: #5768AD;
    color: white;
    text-decoration: none;
}

.card{
    border: none;
}

.third{
    padding-top: 50px;
    background-color: #F5F6FA;
}

.join-class a{
    padding: 20px;
    border: 1px solid black;
    text-decoration: none;
    color: blueviolet;

}


.gallery img{
    width: 380px;
}

.formSec{
    background-color: #5768AD;
}

input{
    background-color: #7986BD;
    border: none;
}

textarea{
    background-color: #7986BD;
    border: none;
}

::placeholder {
   color: white;
  }
