<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
<!--TOP INFO SECTION WITH PHONES AND LOGO-->
<header class="mb-3">
    <div class="container d-flex justify-content-center align-items-center">
        <a href="app/views/home.html"><img src="../../assets/images/logo.png" alt="logo"></a>
        <ul class="row justify-content-center align-items-center mr-3">
            <li>CALL US: + 1 800-567-8990</li>
            <li>WRITE US: OFFICE@EXAMPLE.COM</li>
            <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
        </ul>
        <a class="join" href="#" class="primary-btn">JOIN US</a>
       </div>
</header>
<!--NAVIGATION BAR-->
<section class="aboutFirst">
    <div class="container">
    <nav class="row pt-2">
        <a class="pr-3" href="home.html">Home</a>
        <a class="pr-3" href="about.html">About</a>
        <a class="pr-3" href="classes.html">Classes</a>
        <div class="dropdown"> 
        <span><a class="pr-3" href="pages.html">Pages</a></span>
         <div class="dropdown-content block">
             <a class="pr-3" href="#">Classes Details</a>
             <a class="pr-3" href="#">Blog Details</a>
             <a class="pr-3" href="#">Pricing</a>
             <a class="pr-3" href="#">Faq</a>
         </div>
         </div>
        <a class="pr-3" href="blog.html">Blog</a>
        <a class="pr-3" href="contact.html">Contact</a>
    </nav>
    </div>
  <div class="d-flex justify-content-center about-top-text text-white">
    <div class="">
        <h2>Classes</h2>
            <div >
                <a href="../views/home.html">Our Classes</a>
                <span>About Us</span>
            </div>
    </div>
</div>
</section>
<!--SECTION #1 WITH SELECTS-->
<section class="classesFirst">
    <div class="container zoom ">
        <div class="d-flex justify-content-center">
            <div class="input-group mb-3 m-2">
                <select class="custom-select" id="inputGroupSelect02">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              
              <div class="input-group mb-3 m-2">
                <select class="custom-select" id="inputGroupSelect02">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

              <div class="input-group mb-3 m-2">
                <select class="custom-select" id="inputGroupSelect02">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

              <div class="input-group mb-3 m-2">
                <select class="custom-select" id="inputGroupSelect02">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="inputGroupSelect02"><img src="../../assets/images/zoom-24.png" alt="zoom-24"></label>
                </div>
              </div>
        </div>
    </div>
</section>
<!--SECTION #2-->
<section class="classesSecond">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="container">
                <div class="d-flex-column text-center justify-content-center">
                </div>
                <!--CARDS-->
                <div>
                    <div class="card-deck mt-5">
                        <div class="card col-4">
                          <img src="../../assets/images/classes-1.PNG" class="card-img-top" alt="classes-1">
                          <div class="card-body">
                            <p>14 Days | Start on 10th Every Month</p>
                            <h5 class="card-title">100 Hour Yoga Course Rishikesh</h5>
                            <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                          </div>
                          <div class="join-class mt-5">
                            <a href="#">JOIN NOW</a>
                          </div>
                        </div>
                        <div class="card col-4">
                          <img src="../../assets/images/classes-2.png" class="card-img-top" alt="classes-2">
                          <div class="card-body">
                              <p>14 Days | Start on 10th Every Month</p>
                            <h5 class="card-title">200 Hour Yoga Course Rishikesh</h5>
                            <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                          </div>
                          <div class="join-class mt-5">
                            <a href="#">JOIN NOW</a>
                          </div>
                        </div>
                        <div class="card col-4">
                          <img src="../../assets/images/classes-3.png" class="card-img-top" alt="classes-3">
                          <div class="card-body">
                              <p>14 Days | Start on 10th Every Month</p>
                            <h5 class="card-title">300 Hour Yoga Course Rishikesh</h5>
                            <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                          </div>
                          <div class="join-class mt-5">
                            <a href="#">JOIN NOW</a>
                          </div>
                        </div>
                      </div>
                      <div class="card-deck mt-5">
                        <div class="card col-4">
                          <img src="../../assets/images/classes-1.PNG" class="card-img-top" alt="classes-1">
                          <div class="card-body">
                            <p>14 Days | Start on 10th Every Month</p>
                            <h5 class="card-title">100 Hour Yoga Course Rishikesh</h5>
                            <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                          </div>
                          <div class="join-class mt-5">
                            <a href="#">JOIN NOW</a>
                          </div>
                        </div>
                        <div class="card col-4">
                          <img src="../../assets/images/classes-2.png" class="card-img-top" alt="classes-2">
                          <div class="card-body">
                              <p>14 Days | Start on 10th Every Month</p>
                            <h5 class="card-title">200 Hour Yoga Course Rishikesh</h5>
                            <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                          </div>
                          <div class="join-class mt-5">
                            <a href="#">JOIN NOW</a>
                          </div>
                        </div>
                        <div class="card col-4">
                          <img src="../../assets/images/classes-3.png" class="card-img-top" alt="classes-3">
                          <div class="card-body">
                              <p>14 Days | Start on 10th Every Month</p>
                            <h5 class="card-title">300 Hour Yoga Course Rishikesh</h5>
                            <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                          </div>
                          <div class="join-class mt-5">
                            <a href="#">JOIN NOW</a>
                          </div>
                        </div>
                      </div>
                      <div class="card-deck mt-5">
                        <div class="card col-4">
                          <img src="../../assets/images/classes-1.PNG" class="card-img-top" alt="classes-1">
                          <div class="card-body">
                            <p>14 Days | Start on 10th Every Month</p>
                            <h5 class="card-title">100 Hour Yoga Course Rishikesh</h5>
                            <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                          </div>
                          <div class="join-class mt-5">
                            <a href="#">JOIN NOW</a>
                          </div>
                        </div>
                        <div class="card col-4">
                          <img src="../../assets/images/classes-2.png" class="card-img-top" alt="classes-2">
                          <div class="card-body">
                              <p>14 Days | Start on 10th Every Month</p>
                            <h5 class="card-title">200 Hour Yoga Course Rishikesh</h5>
                            <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                          </div>
                          <div class="join-class mt-5">
                            <a href="#">JOIN NOW</a>
                          </div>
                        </div>
                        <div class="card col-4">
                          <img src="../../assets/images/classes-3.png" class="card-img-top" alt="classes-3">
                          <div class="card-body">
                              <p>14 Days | Start on 10th Every Month</p>
                            <h5 class="card-title">300 Hour Yoga Course Rishikesh</h5>
                            <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                          </div>
                          <div class="join-class mt-5">
                            <a href="#">JOIN NOW</a>
                          </div>
                        </div>
                      </div>
                 </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION #3-->
<section class="classesThird">
    <div class="container">
        <div class="d-flex-column text-center justify-content-center">
            <h2 class="mt-5">Top Classess</h2>
            <p class="mt-5">The trainings are multi-style and you will learn and practice Hatha Vinyasa (flow)
                and Yin Yoga.</p>
        </div>
        <!--CARDS-->
        <div>
            <div class="card-deck mt-5 pb-5">
                <div class="card">
                  <img src="../../assets/images/classes-1.PNG" class="card-img-top" alt="classes-1">
                  <div class="card-body">
                    <p>14 Days | Start on 10th Every Month</p>
                    <h5 class="card-title">100 Hour Yoga Course Rishikesh</h5>
                    <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                  </div>
                  <div class="join-class mt-5">
                    <a href="#">JOIN NOW</a>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/images/classes-2.png" class="card-img-top" alt="classes-2">
                  <div class="card-body">
                      <p>14 Days | Start on 10th Every Month</p>
                    <h5 class="card-title">200 Hour Yoga Course Rishikesh</h5>
                    <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                  </div>
                  <div class="join-class mt-5">
                    <a href="#">JOIN NOW</a>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/images/classes-3.png" class="card-img-top" alt="classes-3">
                  <div class="card-body">
                      <p>14 Days | Start on 10th Every Month</p>
                    <h5 class="card-title">300 Hour Yoga Course Rishikesh</h5>
                    <p class="card-text">Jordan Lawson - Yoga Teacher</p>
                  </div>
                  <div class="join-class mt-5">
                    <a href="#">JOIN NOW</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

<!--FOOTER-->
<footer>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="footer__about">
                        <img src="../../assets/images/footer-logo.png" alt="footer-logo">
                        <ul>
                            <li> Mon - Fri: 6:30am - 07:45pm</li>
                            <li> Sat - Sun: 8:30am - 05:45pm</li>
                        </ul>
                        <form action="#">
                            <input type="text" placeholder="Your Email">
                            <button type="submit">Submit</button>
                        </form>
                        </div>
                        </div>
                        <div class="col-2">
                            <div>
                            <h5>Inspiration</h5>
                                <ul>
                                    <li><a href="#">Online Pilates</a></li>
                                    <li><a href="#">Yoga for Beginners</a></li>
                                    <li><a href="#">Online Pilates</a></li>
                                    <li><a href="#">Online Yoga</a></li>
                                    <li><a href="#">Conditioning</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <h5>About Us</h5>
                                <ul>
                                    <li><a href="#">Our Vision</a></li>
                                    <li><a href="#">Our Mission</a></li>
                                    <li><a href="#">Meet The Team</a></li>
                                    <li><a href="#">Introduce</a></li>
                                    <li><a href="#">Customer Service</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div>
                                <h5>Contact Us</h5>
                                <ul>
                                    <li> (01) 436 8888</li>
                                    <li> hello@zogin.com</li>
                                    <li> 828 Granville Lights Suite 466</li>
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                        <div class="row">
                        <div class="col-6">
                            <div>
                                <p>Copyright ©2020 All rights reserved | This template is made with  by Colorlib</p>
                            </div>
                        </div>
                        <div class="col-6">
                        <div>
                        <!--INSERT SOCIAL MEDIA ICONS-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
</footer>

    
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap.bundle.js"></script>
</body>
</html>