<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
<!--TOP INFO SECTION WITH PHONES AND LOGO-->
<header class="mb-3">
    <div class="container d-flex justify-content-center align-items-center">
        <a href="app/views/home.html"><img src="../../assets/images/logo.png" alt="logo"></a>
        <ul class="row justify-content-center align-items-center mr-3">
            <li>CALL US: + 1 800-567-8990</li>
            <li>WRITE US: OFFICE@EXAMPLE.COM</li>
            <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
        </ul>
        <a class="join" href="#" class="primary-btn">JOIN US</a>
       </div>
</header>
<!--NAVIGATION BAR-->
<section class="aboutFirst">
    <div class="container">
    <nav class="row pt-2">
        <a class="pr-3" href="home.html">Home</a>
        <a class="pr-3" href="about.html">About</a>
        <a class="pr-3" href="classes.html">Classes</a>
        <div class="dropdown"> 
        <span><a class="pr-3" href="pages.html">Pages</a></span>
         <div class="dropdown-content block">
             <a class="pr-3" href="#">Classes Details</a>
             <a class="pr-3" href="#">Blog Details</a>
             <a class="pr-3" href="#">Pricing</a>
             <a class="pr-3" href="#">Faq</a>
         </div>
         </div>
        <a class="pr-3" href="blog.html">Blog</a>
        <a class="pr-3" href="contact.html">Contact</a>
    </nav>
    </div>
  <div class="d-flex justify-content-center about-top-text text-white">
    <div class="">
        <h2>Contact Us</h2>
            <div >
                <a href="../views/home.html">Home</a>
                <span>Contact Us</span>
            </div>
    </div>
</div>
</section>
<!--SECTION #1-->
<section class="contactFirst">
    <div class="container text-center">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-around">
                <div class="column m-5">
                    <img class="m-2" src="../../assets/images/phone-32.png" alt="phone-32">
                    <div>
                        <div><h4>Phone</h4></div>
                        <div><p>+01-3-8888-6868</p></div>
                    </div>
                </div>
                <div class="column m-5">
                    <img class="m-2" src="../../assets/images/location-32.png" alt="location-32">
                    <div>
                        <div><h4>Phone</h4></div>
                        <div><p>+01-3-8888-6868</p></div>
                    </div>
                </div>
                <div class="column m-5">
                    <img class="m-2" src="../../assets/images/time-8-32.png" alt="time-8-32">
                    <div>
                        <div><h4>Phone</h4></div>
                        <div><p>+01-3-8888-6868</p></div>
                    </div>
                </div>
                <div class="column m-5">
                    <img class="m-2" src="../../assets/images/mail-3-32.png" alt="mail-3-32">
                    <div>
                        <div><h4>Phone</h4></div>
                        <div><p>+01-3-8888-6868</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--SECTION #2 MAP-->
<section class="contactSecond">
    <div class="d-flex justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49116.43876050204!2d-86.41867792883771!3d39.69970814028596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886ca48c841038a1%3A0x70cfba96bf847f0!2sPlainfield%2C%20Indiana%2C%20Jungtin%C4%97s%20Valstijos!5e0!3m2!1slt!2slt!4v1590583146860!5m2!1slt!2slt" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</section>
<!--SECTION #3 FORM-->
<section>
    <div class="container text-center mt-5">
        <div class="d-flex-column justify-content-center text- center">
            <h2 class="mt-5">Leave a Comment</h2>
        </div>
        <div class="d-flex justify-content-center">
        <div class="row justify-content-center mt-5 col-10">

            <input class="col-6 mb-3 inpSec" type="text" name="name" id="name" placeholder="Name">
            <input class="col-6 mb-3 inpSec " type="text" name="email" id="email" placeholder="Email">
            <input class="col-12 mt-1 mb-3 inpSec" type="text" name="subject" placeholder="Subject">
            <textarea class="col-12 mt-1 mb-3 inpSec" name="textarea" id="textas" cols="30" rows="10"></textarea>
        </div>
        </div>
    </div>
</section>
<!--FOOTER-->
<footer>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="footer__about">
                        <img src="../../assets/images/footer-logo.png" alt="footer-logo">
                        <ul>
                            <li> Mon - Fri: 6:30am - 07:45pm</li>
                            <li> Sat - Sun: 8:30am - 05:45pm</li>
                        </ul>
                        <form action="#">
                            <input type="text" placeholder="Your Email">
                            <button type="submit">Submit</button>
                        </form>
                        </div>
                        </div>
                        <div class="col-2">
                            <div>
                            <h5>Inspiration</h5>
                                <ul>
                                    <li><a href="#">Online Pilates</a></li>
                                    <li><a href="#">Yoga for Beginners</a></li>
                                    <li><a href="#">Online Pilates</a></li>
                                    <li><a href="#">Online Yoga</a></li>
                                    <li><a href="#">Conditioning</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <h5>About Us</h5>
                                <ul>
                                    <li><a href="#">Our Vision</a></li>
                                    <li><a href="#">Our Mission</a></li>
                                    <li><a href="#">Meet The Team</a></li>
                                    <li><a href="#">Introduce</a></li>
                                    <li><a href="#">Customer Service</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div>
                                <h5>Contact Us</h5>
                                <ul>
                                    <li> (01) 436 8888</li>
                                    <li> hello@zogin.com</li>
                                    <li> 828 Granville Lights Suite 466</li>
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                        <div class="row">
                        <div class="col-6">
                            <div>
                                <p>Copyright ©2020 All rights reserved | This template is made with  by Colorlib</p>
                            </div>
                        </div>
                        <div class="col-6">
                        <div>
                        <!--INSERT SOCIAL MEDIA ICONS-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
</footer>

    
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap.bundle.js"></script>
</body>
</html>